:root {
  --text-color: #000;
  --theme-color: #fff;
  --highlight-color: #61dafb;
  --button-color: #61dafb;
  --inverse-theme-color: #20232a;
  --inverse-text-color: #fff;
  --code-background-color: rgba(40, 44, 52, 0.75);
  --hover-color: gold;
}

.body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

/* Start Common Styles */
.header-nav-container,
.main-cover-container,
.about-container {
  padding: 0 2rem;
}

.main-cover__title,
.main-cover__paragraph,
.about__subtitle,
.about__paragraph {
  letter-spacing: 0.1rem;
}

.header-nav__img,
.main-cover__img,
.about__img {
  width: 100%;
}

.about__title,
.about__paragraph {
  margin: 0;
}

/* End Common Styles */

/* Start header */
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  transition: all 0.5s;
}

.header--scroll {
  background-color: var(--inverse-theme-color);
  box-shadow: 0 0.25rem 0.25rem 0 var(--inverse-theme-color);
  padding: 0.25rem 0;
}

.header-nav {
  width: 100%;
}

.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__logo {
  display: flex;
  max-width: 4rem;
}

.header-nav__link-list {
  position: fixed;
  background-color: var(--inverse-theme-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 2rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.header-nav__link-list--open {
  opacity: 1;
  pointer-events: auto;
}

.header-nav__link-item {
  list-style: none;
}

.header-nav__link {
  color: var(--inverse-text-color);
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: all 0.2s;
}

.header-nav__link:hover {
  color: var(--highlight-color);
  border-bottom: 0.2rem solid var(--hover-color);
}

.header-nav__close-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 1.5rem;
}

.header-nav__menu-icon {
  width: 1.5rem;
}

/* End header */

/* Start main-cover */
.main {
  background-color: var(--theme-color);
}

.main-cover {
  position: relative;
  min-height: 100vh;
  background-image: url('../img/reactjswallpaper.png');
  background-size: cover;
  background-position: center;
  color: var(--inverse-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main-cover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-cover__message {
  background: var(--code-background-color);
  padding: 1rem;
  border-radius: 1rem;
}

.main-cover__button {
  position: relative;
  z-index: 85;
  display: inline-block;
  background-color: var(--button-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 0.5rem;
  transition: all 0.5s;
  pointer-events: all;
}

.main-cover__button:hover {
  background-color: var(--theme-color);
}

.main-cover__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}

/* End main-cover */

/* Start about */
.about {
  text-align: center;
}

.about__topics {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.about__topic {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  max-width: 260px;
  margin: 0 auto;
}

.about__container-icon {
  width: 3rem;
}

/* End about */

@media (min-width: 854px) {

  /* Start header */
  .header-nav-container,
  .main-cover-container {
    max-width: 1024px;
    margin: auto;
    padding: 0;
  }

  .header-nav__link-list {
    position: static;
    width: auto;
    background-color: transparent;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .header-nav__close-icon,
  .header-nav__menu-icon {
    display: none;
  }

  /* End header */

  /* Start main-cover */
  .main-cover__message {
    max-width: 654px;
  }

  /* End main-cover */
}